Package: proxyman.atlantis
Name: atlantis
Depends: mobilesubstrate, applist, preferenceloader, ${LIBSWIFT}
Version: 0.0.1
Architecture: iphoneos-arm
Description: http(s) intercepting for proxyman
Maintainer: atlantis
Author: atlantis
Section: Tweaks
